<head lang="en">
    <meta charset="UTF-8">
    <script>if (top != self) { top.location.replace(self.location.href); }</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ page.title }}{% if page.title %} &middot; {% endif %}SassyWorks</title>

    <meta name="keywords" content="design, graphic design, art direction, typography, logo, consultancy, creative, creative director,
    web design, website, web site, new media, newmedia, ui, user interface, graphic user interface, interface, interactive, animation,
    motion, graphics, motion graphics, usability, brand, development, svetoslava, ilieva, sassy, bulgaria, sofia, netage,
    дизайн, графичен дизайн, уеб дизайн, уеб сайт, интернет, криейтив, решение, консултация, нова медия, комуникация, анимация,
    ползваемост, типография, лого, бранд, светослава, илиева, саси, българия, софия, нетейдж, bgsite award" />

    <link href='https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900' rel='stylesheet' type='text/css' />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type='text/css' />
    <link href='{{ site.baseurl }}/styles/main.css' rel='stylesheet' type='text/css' />
    <link rel="shortcut icon" href="{{ site.baseurl }}/styles/images/sassy.ico" />

</head>
