<nav>
    <div class="section group">
        <div class="logo col two"><a href="{{ site.baseurl }}/" id="index"><i class="site-logo"></i></a></div>
        <div class="menu col two">
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/works" class="nav works">Works</a>
                </li>
                <!--<li>-->
                    <!--<a href="{{ site.baseurl }}/clients" class="nav clients">Clients</a>-->
                <!--</li>-->
                <li>
                    <a href="{{ site.baseurl }}/about" class="nav about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr />